<h1>Doctor's Office Listing</h1>
<ul>
  <% if @example.kind_of?(Array) %>
    <% @example.each do |each| %>
      <p id='<%= each.id %>'><a href='/output/<%= each.id %>'><%= each.name %></a></p>
    <% end %>
  <% else %>
    <p id='<%= @example.id %>'><a href='/output/<%= @example.id %>'><%= @example.name %></a></p>
  <% end %>
</ul>

<h3>Enter In Doctor Information</h3>
<form action="/add_doctor" method="post">
  <div class="form-group">
    <label for="name">Doctor's Name:</label>
    <input type="text" name="name" required pattern=".*\S+.*" title="This field is required" placeholder="example">
  </div>
  <div class="form-group">
    <label for="specialty">Specialty:</label>
    <input type="text" name="specialty" required pattern=".*\S+.*" title="This field is required" placeholder="example">
  </div>
  <button type="submit" name="button">Add</button>
</form>
